*.elc
/eshell/
/auto-save-list/
tramp
bookmarks
.emacs.desktop
custom.el
/elpa/
/eln-cache/
/var/
/transient/
/url/
recentf
savehist
package-quickstart.el
package-quickstart.elc
site-lisp/elm-package.json
site-lisp/elm-stuff
site-lisp/stenkoll.el
site-lisp/stenkoll-dashboard.el
.DS_Store
.lock
*.eld
.emacs.desktop.lock
.min-*
.claude/
elpy/
