[submodule "site-lisp/dash-at-point"]
	path = site-lisp/dash-at-point
	url = https://github.com/Kapeli/dash-at-point.git
[submodule "site-lisp/zenburn"]
	path = site-lisp/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "site-lisp/solarized"]
	path = site-lisp/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/elm-mode"]
	path = site-lisp/elm-mode
	url = https://github.com/jcollard/elm-mode.git
